* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: 0;
    overflow-x: hidden;
    overflow-y: hidden;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p, a, span, button, table {
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

a {
    color: #0e55cb;
}

a:active {
    color: #19e1fc;
}

i {
    font-size: 0.875em;
}

:root {
    --main-color: #0e55cb;
    --white-color: #ffffff;
    --black-color: #000000;
    --second-color: #19e1fc;
}

/* BIG SCREEN */

.hero-section, .after-hero-section, .main {
    max-width: 1520px;
    margin: 0 auto;
}

/* TOP NAV */

.top-nav {
    background-color: var(--main-color);
}

    .desk-menu {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 70px;
    }

    .top-nav a {
        font-size: 1em;
        font-weight: 700;
        /* FOR IE */
        color: #ffffff;
        /* OTHERS */
        color: var(--white-color);

        transition: all .25s;
    }

    .top-nav a:hover {
        /* FOR IE */
        color: #19e1fc;
        /* OTHERS */
        color: var(--second-color);
    }

    .top-nav-hr {
        color: #ffffff;
        background-color: #ffffff;
        width: 100%;
        margin: 0;
        position: absolute;
        top: 70px;
    }

    .mobile-menu {
        display: none;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        height: 70px;
    }

    .mobile-nav {
        display: none;
        position: relative;
        left: 0;
        background-color: #000000;
        height: calc(100vh - 70px);
        overflow-x: hidden;
        overflow-y: auto;
        scrollbar-width: thin;
        width: 70%;
        min-width: 240px;
        padding: 10px;
        flex-flow: column nowrap;

        transition: all .25s;
    }

        .mobile-nav a {
            width: fit-content;
            margin: 10px 20px;
        }

        .mobile-nav a::before {
            content: "•";
            margin-right: 8px;
        }

        .mobile-nav span {
            color: #ffffff;
            font-weight: 700;
            font-size: 0.8em;
            width: fit-content;
            margin: 10px 20px;
            font-variant: small-caps;
            font-style: italic;
            text-shadow: 2px 0 0 #0e55cb;
        }

        .burger {
            width: 32px;
            height: 32px;
            border-radius: 6px;
            border: 2px solid #ffffff;
            background: transparent;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            transition: all .5s ease;
            margin: 1em;
        }

        .burger:hover {
            border-color: #19e1fc;
        }

        .burger-strip {
            transition: all .5s ease;
        }

        .strip div {
            height: 2.5px;
            border-radius: 4px;
            background: #ffffff;
            margin: 4px;
            transition: all .55s cubic-bezier(0.075, 0.82, 0.165, 1);
            width: 20px;
        }

        .burger:hover .strip div {
            background: white;
        }

        .burger-strip div:first-child {
            width: 12px;
        }

        .burger-active .burger-strip div:first-child { transform: rotate(45deg) translateY(1.7px) translateX(3px); }
        .burger-active .burger-strip div:nth-child(2) { transform: rotate(-45deg); }
        .burger-active .burger-strip div:last-child { transform: rotate(45deg) translateY(-4.5px) translateX(-4.5px); }

.hero-container {
    width: 100%;
    height: 720px;
    /* FOR IE */
    background-color: #0e55cb;
    /* OTHERS */
    background-color: var(--main-color);
}
    .hero-section {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        height: 100%;
        width: 80%;
        margin: 0 auto;
        padding: 40px 0;
    }

        .hero-headline {
            position: relative;
            width: 60%;
            height: fit-content;
            justify-self: flex-end;
        }

            .hero-headline h1 {
                width: 80%;
                margin: 20px;
                font-size: 2em;
                font-weight: 700;
                /* FOR IE */
                color: #ffffff;
                /* OTHERS */
                color: var(--white-color);
            }

        .hero-buttons {
            display: flex;
            flex-flow: row wrap;
            width: 50%;
        }

            .btn-hero {
                padding: 8px 12px;
                margin: 10px 20px;
                border-radius: 8px;
                outline: none;
                background-color: transparent;
                cursor: pointer;
                
                /* FOR IE */
                border-color: #0e55cb;
                /* OTHERS */
                border: 2px solid var(--white-color);
                /* FOR IE */
                color: #ffffff;
                /* OTHERS */
                color: var(--white-color);

                transition: all .25s;
            }

            .btn-hero:hover {
                /* FOR IE */
                color: #19e1fc;
                /* OTHERS */
                color: var(--second-color);
                /* FOR IE */
                border-color: #19e1fc;
                /* OTHERS */
                border-color: var(--second-color);
            }

        .hero-image {
            position: relative;
            display: flex;
            width: 40%;
            height: 100%;
        }

            .hero-image img:nth-child(1) {
                width: 440px;
                margin: 40px auto;
                place-self: center;
            }

            .circle {
                min-width: 80px;
                width: 30%;
                height: auto;
                position: absolute;
                top: 80px;
                right: 40px;
                animation: circle 30s infinite linear;
            }

    .hero-action {
        background-color: #0e55cb;
    }
    
        .hero-action-container {
            display: flex;
            flex-flow: row wrap;
            justify-content: center;
            width: 60%;
            margin: 0 auto;
            padding: 0 0 80px;
        }

            .hero-action-container h2 {
                width: 100%;
                text-align: center;
                color: #ffffff;
                font-size: 3em;
                font-weight: 800;
            }

            .btn-hero-main {
                font-size: 1.25em;
                border: 3px solid #ffffff;
                border-radius: 8px;
                color: #0e55cb;
                font-weight: 800;
                background-color: #ffffff;
                padding: 4px 12px;
                margin: 20px;
                cursor: pointer;
                transition: all .5s;
            }

            .btn-hero-main:hover {
                color: #ffffff;
                background-color: transparent;
            }

            @keyframes circle {
                from{ transform: rotate(-360deg); }
                to{ transform: rotate(360deg); }
            }

.cards-section {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 80%;
    margin: 0 auto;
    padding: 80px 20px;
}

    .cards {
        position: relative;
        width: calc(25% - 40px);
        max-width: 400px;
        min-width: 200px;
        height: 200px;
        margin: 20px;

        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px 0px;
        transition: all .25s;
    }

    .cards:hover {
        box-shadow: rgba(14, 85, 203, 0.2) 0px 0px 30px 0px;
    }

    .cards:hover .card-tag {
        /* FOR IE */
        color: #19e1fc;
        /* OTHERS */
        color: var(--second-color);
    }

    .cards:hover .card-back {
        opacity: 0.2;
    }

    .cards a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 40px;
    }

        .card-name {
            font-size: 20px;
            font-weight: 700;
            text-transform: capitalize;
            /* FOR IE */
            color: #000000;
            /* OTHERS */
            color: var(--black-color);
        }

        .card-tag {
            position: absolute;
            bottom: 40px;
            /* FOR IE */
            color: #0e55cb;
            /* OTHERS */
            color: var(--main-color);

            transition: all .5s;
        }

        .card-back {
            position: absolute;
            bottom: -120px;
            font-size: 280px;
            opacity: 0;
            clip-path: inset(0 0 120px 0);
            /* FOR IE */
            color: #19e1fc;
            /* OTHERS */
            color: var(--second-color);

            transition: all 1s;
        }

.advantages-container {
    display: flex;
    width: 80%;
    margin: 40px auto;
    justify-content: space-evenly;
    background: center / contain url("assets/adv-back.svg") no-repeat;
}

    .main-advantages-container {
        display: flex;
        flex-flow: row wrap;
        width: 70%;
    }

        .advantages-cards {
            position: relative;
            width: 40%;
            padding: 80px 40px 40px 40px;
            /* From https://css.glass */
            background: rgba(255, 255, 255, 0.36);
            border: 2px solid rgba(255, 255, 255, 0.6);
            border-radius: 16px;
            box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
            backdrop-filter: blur(14px);
            -webkit-backdrop-filter: blur(16.4px);
            margin: 40px;
        }

        .in-card {
            font-size: 2em;
            font-weight: 800;
        }

        .out-card {
            position: absolute;
            top: -40px;
            left: -20px;
            width: 100px;
            height: 100px;
        }

    .aside-advantages-container {
        display: flex;
        flex-flow: column nowrap;
        align-items: center;
        justify-content: center;
        width: 25%;
        padding: 10px;
    }

        .aside-advantages-container h3 {
            font-size: 2em;
            font-weight: 800;
            margin-bottom: 40px;
        }

        .advantages-logo {
            margin: 20px;
            justify-self: center;
        }

.educational-programs-container {
    width: 80%;
    margin: 120px auto;
    text-align: center;
}

    .educational-programs-container h2 {
        font-size: 2em;
        font-weight: 800;
    }

    .educational-programs-container span {
        display: block;
        margin: 20px;
    }

    /* TABLE */

        .educational-programs-container th {
            font-size: 1.25em;
            color: #fff;
            background-color: #0e55cb;
            padding: 4px 2px;
            border: 2px solid #0e55cb;
            vertical-align: middle;
        }

        .educational-programs-container td {
            border: 2px solid #0e55cb;
            vertical-align: middle;
            padding: 8px 0;
        }

        .educational-programs-container td:nth-child(3) {
            padding: 0;
        }

        .educational-programs-container table span {
            text-align: center;
            margin: 0;
            padding: 10px;
            border-bottom: 2px solid #0e55cb;
        }

        .educational-programs-container table span:last-child {
            margin-bottom: 0;
            border-bottom: 0 solid #0e55cb;
        }

        .educational-programs-container table {
            width: 100%;
        }

        .educational-programs-container ol {
            text-align: left;
            margin-left: 10%;
            list-style-position: inside;
            list-style-type: decimal;
        }

        .educational-programs-container img {
            width: 100%;
            height: auto;
            display: none;
        }


.dates-container {
    width: 80%;
    margin: 40px auto 80px;
    font-size: 1.5em;
}

    .dates-container h3 {
        font-size: 1.5em;
        font-weight: 700;
        margin-bottom: 40px;
    }

    .date-table {
        display: flex;
        flex-flow: row wrap;
    }

    .date-table span {
        font-size: 0.75em;
        flex: 1 0 50%;
        padding: 12px 12px 12px 0;

        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }

    .date-table span:nth-child(1), .date-table span:nth-child(2) {
        font-weight: 700;
    }

    /* .date-table span:nth-child(9), .date-table span:last-child {
        border-bottom: 0;
    } */

.pre-faq {
    width: 80%;
    margin: 80px auto;
}

    .pre-faq-container {
        display: flex;
        flex-flow: column nowrap;
    }

    .pre-faq-container h2 {
        display: block;
        width: 70%;
        text-align: center;
        font-weight: 700;
        margin: 0 auto 20px;
        font-size: 2.25em;
    }

    .pre-faq-container p {
        display: block;
        width: 80%;
        text-align: center;
        margin: 0 auto 40px;
        font-size: 1.5em;
    }

    .pre-faq ul {
        list-style-type: disc;
        list-style-position: inside;
    }

    .pre-faq li {
        font-size: 0.875em;
    }

.steps {
    width: 100%;
    background-color: #0e55cb;
}

.steps-container {
    display: flex;
    flex-flow: row wrap;
    width: 80%;
    margin: 0 auto;
    justify-content: center;
    align-items: center;

    padding: 80px 0;
}

    .steps-item {
        margin: 0 20px;
    }

    .steps-container img {
        width: 60%;
        height: auto;
        border-radius: 20px;
        max-width: 1200px;
    }

    .steps-container h2 {
        width: 30%;
        height: fit-content;
        font-size: 42px;
        font-weight: 700;
        color: #ffffff;
    }

    .main-steps {
        width: 60%;
        margin: 40px 20px;
    }

        .main-steps-subitem {
            font-size: 1.5em;
            font-weight: 700;
            color: #ffffff;
            padding: 10px;
            text-align: left;
        }

        .steps-subitem-num {
            display: inline-block;
            width: 25px;
            height: 25px;
            margin: 4px 4px 4px 0;
            color: #0e55cb;
            border-radius: 25%;
            background-color: #ffffff;
            text-align: center;
        }

        .main-steps-subitem button {
            text-transform: uppercase;
            margin: 4px 0;
            padding: 4px 6px;
            font-weight: 700;
            /* color: rgba(0, 0, 0, 0.8); */
            color: #000000;
            border: 3px solid #ffffff;
            border-radius: 4px;
            background-color: #ffffff;
            cursor: pointer;

            transition: all .5s;
        }

        .main-steps-subitem button:active {
            color: #0e55cb;
        }

.documents-container {
    width: 80%;
    margin: 80px auto;
}

    .documents-container h3 {
        font-size: 2em;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .documents-container ol {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: italic;
        list-style: decimal;
        list-style-position: inside;
        line-height: 1.5;
    }

.faq-container {
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    margin: 40px auto;
}

    .faq-element {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        cursor: pointer;
        margin: 20px 0;
    }

    .faq-answ {
        cursor: pointer;
        display: none;
    }

    .faq-element h4 {
        font-size: 1.25em;
        font-weight: 700;
        align-self: center;
    }

    .faq-element i {
        display: inline-block;
        height: 1em;
        font-size: 2em;
        border-radius: 20%;
        transition: all .45s;
    }

    .faq-container hr, .pre-faq-container hr {
        width: 100%;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .faq-answ {
        font-size: 1.25em;
        margin: 0 60px 30px 0;
        line-height: 1.25;
    }

    .active-faq .faq-answ {
        display: block;
    }

    .cancel-faq .faq-element i {
        color: #19e1fc;
        rotate: -45deg;
    }

    /* .faq-element:hover i {
        color: #ffffff;

        background-color: #0e55cb;
        border-radius: 40%;
    } */
        
footer {
    height: fit-content;
    width: 100%;
    /* FOR IE */
    background-color: #0e55cb;
    /* OTHERS */
    background-color: var(--main-color);
}

.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 80%;
    margin: 40px auto;
}

    .footer-text {
        padding: 100px 0;
        width: 30%;
        height: 520px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;

        /* FOR IE */
        color: #ffffff;
        /* OTHERS */
        color: var(--white-color);
    }

        .footer-text a {
            /* FOR IE */
            color: #19e1fc;
            /* OTHERS */
            color: var(--second-color);
        }

        .footer-text h3 {
            font-size: 2.25em;
            margin-bottom: 12px;
        }

        .footer-text h4 {
            font-size: 1.75em;
            margin-bottom: 12px;
        }

    .map-container {
        width: 60%;
        align-self: center;
    }

    .social {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-evenly;
        width: 30%;
        min-width: 360px;
        margin: 40px auto;
    }

    .social a {
        margin: 10px;
    }

.modal-form {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);

    overflow-y: scroll;
    cursor: pointer;
    /* display: none; */
}

.modal-cancel {
    font-size: 3em;
    color: #fff;
    position: fixed;
    top: 0;
    right: 0;
    margin: 20px 40px;

    z-index: 2;
}

.modal-form-container {
    cursor: default;
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    width: 50%;
    margin: 80px auto;
    min-width: 400px;
    border: 2px solid #fff;
    z-index: 1;

    /* display: none; */
}

    .modal-header {
        width: 100%;
        padding: 20px;
        font-size: 2em;
        font-weight: 800;
        display: flex;
        color: #fff;
        background-color: #0e55cb;
    }

        .modal-header img {
            min-width: 200px;
            padding: 10px 30px 10px 10px;
            width: 100%;
            height: auto;
        }

        .modal-header h2 {
            height: fit-content;
            margin: 0 40px ;
            align-self: center;
        }

    .modal-body {
        width: 100%;
        padding: 20px;
        color: #000000;
        background-color: #fff;
        text-align: center;
        font-family: 'Ubuntu', sans-serif;
    }

        .modal-body h3 {
            font-size: 2em;
            font-weight: 800;
            margin: 40px 0 20px;
        }

        .modal-body__form {
            width: 60%;
            margin: 0 auto;
        }

        .modal-body__form label {
            font-size: 1.25em;
            display: block;
            text-align: left;
            width: 100%;
        }

        .modal-body__form input {
            font-family: 'Ubuntu', sans-serif;
            font-weight: 800;
            margin: 4px 0 16px;
            width: 100%;
            height: 32px;
            padding: 4px 8px;
            border-radius: 4px;
            outline: none;
            border: 2px solid rgba(0, 0, 0, 0.5);
        }

        .modal-body__form input:focus {
            outline: 0;
            border: 2px solid #000000;
        }

        .modal-body__form input[type=button] {
            margin-top: 20px;
            color: #fff;
            background-color: #000000;
            cursor: pointer;

            transition: all .3s;
        }

        .modal-body__form input[type=button]:hover, .modal-body__form input[type=button]:focus {
            color: #fff;
            background-color: #0e55cb;
            border: 2px solid #0e55cb;
            cursor: pointer;
        }

@media only screen and (max-width: 1520px) {
    .cards-section .cards .card-back {
        opacity: 0;
    }
}

@media only screen and (max-width: 1250px) {
    .cards-section {
        display: flex;
        justify-content: center;
    }

    
    .footer {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

        .footer-text {
            text-align: center;
            width: 100%;
            height: 400px;
            padding: 40px 0;
        }

        .map-container {
            width: 90%;
            margin: 0 auto;
        }

    .advantages-container {
        flex-flow: column wrap;
    }

        .main-advantages-container {
            width: 80%;
            margin: 0 auto;
            justify-content: center;
        }

        .advantages-cards {
            width: 40%;
            min-width: 240px;
        }

        .aside-advantages-container {
            flex-flow: row wrap;
            width: 80%;
            margin: 0 auto;
        }
}

@media only screen and (max-width: 1120px) {
    .desk-menu {
        display: none;
    }
    
    .mobile-menu {
        display: flex;
    }
    
    .hero-container {
        height: fit-content;
    }

    .hero-section {
        flex-flow: column-reverse nowrap;
    }

        .hero-headline {
            width: 100%;
        }

        .hero-buttons {
            width: 100%;
            order: -1;
        }

        .hero-image {
            width: 80%;
            margin: 0 auto;
        }

        .hero-image img:nth-child(1) {
            width: 80%;
            height: auto;
            margin: 20px auto;
        }

    .circle {
        top: 20px;
        right: 0;
    }

    .steps-container img {
        width: 100%;
        margin-bottom: 40px;
    }

    .steps-container h2 {
        width: 80%;
        text-align: center;
    }

    .steps-subitem-num {
        padding-top: 2px;
    }
}

@media only screen and (max-width: 1020px) {   
    .faq-container {
        width: 80%;
        margin: 40px auto;
    }

    body {
        font-size: 14px;
    }

    .modal-form-container {
        width: 80%;
        margin: 40px auto;
        justify-content: center;
    }
}

@media only screen and (max-width: 840px) {
    .map-container {
        width: 100%;
    }

    .educational-programs-container table {
        display: none;
    }

    .educational-programs-container img {
        display: block;
    }
}

@media only screen and (max-width: 640px) {
    .social {
        width: 80%;
        min-width: 200px;
    }
}