* {
    box-sizing: border-box;
}

body {
    display: flex;
    flex-direction: column;
    background-color: #ffffff;
    margin: 0;
    overflow-x: hidden;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6, p, a, span {
    font-family: 'Ubuntu', sans-serif;
    text-decoration: none;
}

a:active {
    color: #19e1fc;
}

i {
    font-size: 0.875em;
}

:root {
    --main-color: #0e55cb;
    --white-color: #ffffff;
    --black-color: #000000;
    --second-color: #19e1fc;
}

/* TOP NAV */

.top-nav {
    background-color: var(--main-color);
}

    .desk-menu {
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        width: 100%;
        height: 70px;
    }

    .top-nav a {
        font-size: 1em;
        font-weight: 700;
        /* FOR IE */
        color: #ffffff;
        /* OTHERS */
        color: var(--white-color);

        transition: all .25s;
    }

    .top-nav a:hover {
        /* FOR IE */
        color: #19e1fc;
        /* OTHERS */
        color: var(--second-color);
    }

    .top-nav-hr {
        color: #ffffff;
        background-color: #ffffff;
        width: 100%;
        margin: 0;
        position: absolute;
        top: 70px;
    }

    .mobile-menu {
        display: none;
        align-items: center;
        justify-content: space-between;
        width: 80%;
        margin: 0 auto;
        height: 70px;
    }

    .mobile-nav {
        display: none;
        position: relative;
        left: 0;
        background-color: #000000;
        height: calc(100vh - 70px);
        overflow-x: hidden;
        overflow-y: auto;
        scrollbar-width: thin;
        width: 70%;
        min-width: 240px;
        padding: 10px;
        flex-flow: column nowrap;

        transition: all .25s;
    }

        .mobile-nav a {
            width: fit-content;
            margin: 10px 20px;
        }

        .mobile-nav a::before {
            content: "•";
            margin-right: 8px;
        }

        .mobile-nav span {
            color: #ffffff;
            font-weight: 700;
            font-size: 0.8em;
            width: fit-content;
            margin: 10px 20px;
            font-variant: small-caps;
            font-style: italic;
            text-shadow: 2px 0 0 #0e55cb;
        }

        .burger {
            width: 32px;
            height: 32px;
            border-radius: 6px;
            border: 2px solid #ffffff;
            background: transparent;
            cursor: pointer;
            display: flex;
            justify-content: center;
            align-items: center;
            padding: 5px;
            transition: all .5s ease;
            margin: 1em;
        }

        .burger:hover {
            border-color: #19e1fc;
        }

        .burger-strip {
            transition: all .5s ease;
        }

        .strip div {
            height: 2.5px;
            border-radius: 4px;
            background: #ffffff;
            margin: 4px;
            transition: all .55s cubic-bezier(0.075, 0.82, 0.165, 1);
            width: 20px;
        }

        .burger:hover .strip div {
            background: white;
        }

        .burger-strip div:first-child {
            width: 12px;
        }

        .burger-active .burger-strip div:first-child { transform: rotate(45deg) translateY(2.2px) translateX(3px); }
        .burger-active .burger-strip div:nth-child(2) { transform: rotate(-45deg); }
        .burger-active .burger-strip div:last-child { transform: rotate(45deg) translateY(-4px) translateX(-4px); }

.hero-container {
    width: 100%;
    height: 720px;
    /* FOR IE */
    background-color: #0e55cb;
    /* OTHERS */
    background-color: var(--main-color);
}
    .hero-section {
        display: flex;
        flex-flow: column wrap;
        justify-content: center;
        height: 100%;
        width: 80%;
        margin: 0 auto;
        padding: 40px 0;
    }

        .hero-headline {
            position: relative;
            width: 60%;
            height: fit-content;
            justify-self: flex-end;
        }

            .hero-headline h1 {
                width: 80%;
                margin: 20px;
                font-size: 2em;
                font-weight: 700;
                /* FOR IE */
                color: #ffffff;
                /* OTHERS */
                color: var(--white-color);
            }

        .hero-buttons {
            display: flex;
            flex-flow: row wrap;
            width: 50%;
        }

            .btn-hero {
                padding: 8px 12px;
                margin: 10px 20px;
                border-radius: 8px;
                outline: none;
                background-color: transparent;
                cursor: pointer;
                
                /* FOR IE */
                border-color: #0e55cb;
                /* OTHERS */
                border: 2px solid var(--white-color);
                /* FOR IE */
                color: #ffffff;
                /* OTHERS */
                color: var(--white-color);

                transition: all .25s;
            }

            .btn-hero:hover {
                /* FOR IE */
                color: #19e1fc;
                /* OTHERS */
                color: var(--second-color);
                /* FOR IE */
                border-color: #19e1fc;
                /* OTHERS */
                border-color: var(--second-color);
            }

        .hero-image {
            position: relative;
            display: flex;
            width: 40%;
            height: 100%;
        }

            .hero-image img:nth-child(1) {
                width: 440px;
                margin: 40px auto;
                place-self: center;
            }

            .circle {
                min-width: 80px;
                width: 30%;
                height: auto;
                position: absolute;
                top: 80px;
                right: 40px;
                animation: circle 30s infinite linear;
            }

            @keyframes circle {
                from{ transform: rotate(-360deg); }
                to{ transform: rotate(360deg); }
            }

.cards-section {
    display: flex;
    justify-content: flex-start;
    flex-flow: row wrap;
    width: 80%;
    margin: 0 auto;
    padding: 80px 20px;
}

    .cards {
        position: relative;
        width: calc(25% - 40px);
        max-width: 400px;
        min-width: 200px;
        height: 200px;
        margin: 20px;

        background-color: #ffffff;
        box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 20px 0px;
        transition: all .25s;
    }

    .cards:hover {
        box-shadow: rgba(14, 85, 203, 0.2) 0px 0px 30px 0px;
    }

    .cards:hover .card-tag {
        /* FOR IE */
        color: #19e1fc;
        /* OTHERS */
        color: var(--second-color);
    }

    .cards:hover .card-back {
        opacity: 0.2;
    }

    .cards a {
        display: block;
        width: 100%;
        height: 100%;
        padding: 40px;
    }

        .card-name {
            font-size: 20px;
            font-weight: 700;
            text-transform: capitalize;
            /* FOR IE */
            color: #000000;
            /* OTHERS */
            color: var(--black-color);
        }

        .card-tag {
            position: absolute;
            bottom: 40px;
            /* FOR IE */
            color: #0e55cb;
            /* OTHERS */
            color: var(--main-color);

            transition: all .5s;
        }

        .card-back {
            position: absolute;
            bottom: -120px;
            font-size: 280px;
            opacity: 0;
            clip-path: inset(0 0 120px 0);
            /* FOR IE */
            color: #19e1fc;
            /* OTHERS */
            color: var(--second-color);

            transition: all 1s;
        }

.dates-container {
    width: 80%;
    margin: 40px auto 80px;
    font-size: 1.5em;
}

    .dates-container h3 {
        font-size: 1.5em;
        font-weight: 700;
        margin-bottom: 40px;
    }

    .date-table {
        display: flex;
        flex-flow: row wrap;
    }

    .date-table span {
        font-size: 0.75em;
        flex: 1 0 50%;
        padding: 12px 12px 12px 0;

        border-bottom: 1px solid rgba(0, 0, 0, 0.5);
    }

    .date-table span:nth-child(1), .date-table span:nth-child(2) {
        font-weight: 700;
    }

    /* .date-table span:nth-child(9), .date-table span:last-child {
        border-bottom: 0;
    } */

.pre-faq {
    width: 80%;
    margin: 0 auto;
}

    .pre-faq-container {
        display: flex;
        flex-flow: column nowrap;
    }

    .pre-faq-container h2 {
        display: block;
        width: 70%;
        text-align: center;
        font-weight: 700;
        margin: 0 auto 20px;
        font-size: 2.25em;
    }

    .pre-faq-container p {
        display: block;
        width: 80%;
        text-align: center;
        margin: 0 auto 40px;
        font-size: 1.5em;
    }

    .pre-faq ul {
        list-style-type: disc;
        list-style-position: inside;
    }

    .pre-faq li {
        font-size: 0.875em;
    }

.documents-container {
    width: 80%;
    margin: 80px auto;
}

    .documents-container h3 {
        font-size: 2em;
        font-weight: 700;
        margin-bottom: 20px;
    }

    .documents-container ol {
        font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
        font-style: italic;
        list-style: decimal;
        list-style-position: inside;
        line-height: 1.5;
    }

.faq-container {
    display: flex;
    flex-flow: column nowrap;
    width: 50%;
    margin: 40px auto;
}

    .faq-element {
        display: flex;
        flex-flow: row nowrap;
        justify-content: space-between;
        cursor: pointer;
        margin: 20px 0;
    }

    .faq-answ {
        cursor: pointer;
        display: none;
    }

    .faq-element h4 {
        font-size: 1.25em;
        font-weight: 700;
        align-self: center;
    }

    .faq-element i {
        display: inline-block;
        height: 1em;
        font-size: 2em;
        border-radius: 20%;
        transition: all .45s;
    }

    .faq-container hr, .pre-faq-container hr {
        width: 100%;
        margin: 0;
        background-color: rgba(0, 0, 0, 0.5);
    }

    .faq-answ {
        font-size: 1.25em;
        margin: 0 60px 30px 0;
        line-height: 1.25;
    }

    .active-faq .faq-answ {
        display: block;
    }

    .cancel-faq .faq-element i {
        color: #19e1fc;
        rotate: -45deg;
    }

    /* .faq-element:hover i {
        color: #ffffff;

        background-color: #0e55cb;
        border-radius: 40%;
    } */
        
footer {
    height: fit-content;
    width: 100%;
    /* FOR IE */
    background-color: #0e55cb;
    /* OTHERS */
    background-color: var(--main-color);
}

.footer {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
    width: 80%;
    margin: 40px auto;
}

    .footer-text {
        padding: 100px 0;
        width: 30%;
        height: 520px;
        display: flex;
        flex-flow: column nowrap;
        justify-content: space-evenly;

        /* FOR IE */
        color: #ffffff;
        /* OTHERS */
        color: var(--white-color);
    }

        .footer-text a {
            /* FOR IE */
            color: #19e1fc;
            /* OTHERS */
            color: var(--second-color);
        }

        .footer-text h3 {
            font-size: 2.25em;
            margin-bottom: 12px;
        }

        .footer-text h4 {
            font-size: 1.75em;
            margin-bottom: 12px;
        }

    .map-container {
        width: 60%;
        align-self: center;
    }

    .social {
        display: flex;
        flex-flow: row wrap;
        justify-content: space-between;
        width: 30%;
        min-width: 360px;
        margin: 40px auto;
    }

    .social a {
        margin: 10px;
    }

@media only screen and (max-width: 1520px) {
    .cards-section .cards .card-back {
        opacity: 0;
    }
}

@media only screen and (max-width: 1250px) {
    .cards-section {
        display: flex;
        justify-content: center;
    }

    
    .footer {
        display: flex;
        flex-flow: column nowrap;
        justify-content: center;
    }

        .footer-text {
            text-align: center;
            width: 100%;
            height: 400px;
            padding: 40px 0;
        }

        .map-container {
            width: 90%;
            margin: 0 auto;
        }
}

@media only screen and (max-width: 1120px) {
    .desk-menu {
        display: none;
    }
    
    .mobile-menu {
        display: flex;
    }
    
    .hero-container {
        height: fit-content;
    }

    .hero-section {
        flex-flow: column-reverse nowrap;
    }

        .hero-headline {
            width: 100%;
        }

        .hero-buttons {
            width: 100%;
            order: -1;
        }

        .hero-image {
            width: 80%;
            margin: 0 auto;
        }

        .hero-image img:nth-child(1) {
            width: 80%;
            height: auto;
            margin: 20px auto;
        }

    .circle {
        top: 20px;
        right: 0;
    }
}

@media only screen and (max-width: 1020px) {   
    .faq-container {
        width: 80%;
        margin: 40px auto;
    }

    body {
        font-size: 14px;
    }
}

@media only screen and (max-width: 840px) {
    .map-container {
        width: 100%;
    }
}

@media only screen and (max-width: 640px) {
    .social {
        width: 80%;
        min-width: 200px;
    }
}